@charset "big5";
/* CSS Document */

header{
	background:#FFFFFF;
}
.cle{
	clear:both;
}

body {
	margin: 0px;
	padding: 0px;
  }

  #container_out {
	width: 1024px;
	margin: 0px auto;
	background: url(images/container_background.jpg) no-repeat;
	height: 1000px;
  }

  #container_in {
	width: 808px;
	margin: 0px auto;
	background: #FFFFFF;
	padding-bottom: 20px;
  }

  .navbar-custom {
	background-color: #85C800;
	font-weight: 700;
  }

#content{
	padding:10px;
	background:#FFFFFF;
}
#left{
	width:300px;
	float:left;
}

.left_block p a{
	text-decoration:none;
	color:#49B000;
}
.left_block h5{
	padding:10px 0px 10px 30px;
	background:#B2E300 url(images/icon.gif) no-repeat 5px center;
}
#number{
	font-size:1.60rem;
	font-family:arial;
	color:#85C800;
	padding:15px 5px;
}
#right{
	float:left;
	margin-left:3px;
	padding-left:3px;
}
#introduction{
	width:478px;
	border:1px #ededed solid;
}
#big{
	width:200px;
	text-align:center;
	padding:168px 5px 5px 5px;
	float:left;
	background:url(images/photo_01.jpg) no-repeat 10px 10px ;
}
.small{
	float:left;
	width:230px;
	padding:10px 0px 0px 10px;
}
.small img{
	float:left;
	width:95px;
	margin-right:10px;
}
footer{
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}
.small h5{
	padding-top:10px;
}
